body {
    background-color: darkslateblue;
    margin: 0px;
}

#audioHolder {
    background-color: cornflowerblue;
    text-align: center;
    padding: 5px;
}

#data {
    width: 100%;
    word-break: break-all;
    
}

canvas {
    background-color: black; 
}

